<div class="hero">
    <p class="large brandon">Lift smarter. Lift safer.</p>
    <p class="small brandon">FORM will revolutionize the way you lift with game-changing, real-time metrics for every rep in every workout.</p>
</div>

<div class="form-wrap clearfix <%= "ended" if Rails.application.config.ended %>">
    <% if Rails.application.config.ended %>
        <p class="thanks brandon">THANK YOU FOR PARTICIPATING<br>IN OUR PRE-LAUNCH.</p>
        <p class="compiling brandon">WE ARE COMPILING REWARDS RIGHT NOW AND WILL EMAIL<br/>COUPON CODES TO ALL RECIPIENTS IN THE NEXT DAY OR TWO</p>
        <p class="go-to brandon">In the meantime, head to  <a href="http://www.formlifting.com/">www.formlifting.com</a></p>
        <p class="again brandon">Thank You Again!</p>
    <% else %>
        <%= form_for @user, :url => { :action => "create" } do |f| %>
            <%= f.text_field :email, :placeholder => "Your Email", :class => "email brandon" %>
            <input class="submit brandon" name="commit" type="submit" value="I'M IN!" />
        <% end %>
        <p class="byline brandon">Be first to know!</p>
    <% end %>
</div>